@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  --primary: #7898FF;
  --secondary: #8E64C5;
  --app-grey: #F2F2F2;
}
:root.dark {
  --primary: #20232a;
  --secondary: #282c34;
  --app-grey: black;

}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #FFFF;
  min-height: 100vh;
}
body.dark-body {
  background-color: #f6f6f6;
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}